body {
  background-color: #298eea;
  padding: 0;
  margin: 0;
  padding-top: 60px;

}

body * {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  margin-top: 30px;
  margin-bottom: 30px;
}

fieldset {
  font:80%/1 sans-serif;
  background-color: white;
  border: none;
  margin: 0;
  padding: 0;
  }

  .logo {
    display: block;
    height: 35px;
    width: auto;
    margin: 0 auto 30px;
  }

  .signup-form {
    margin: 0 auto;
    width: 400px;
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 5px;
    background: white;

}
.signup-form p {
  text-align: center;
}

.signup-form a:hover {
    border-color: gray;
    color: gray;
}

.signup-form legend {
    text-align: center;
    font-size: 35px;
}

input, button {
  width: 320px;
  height: 55px;
  font-size: 18px;
  padding: 15px;
  border: 2px solid gray;
  color:gray;
}

button[type='submit'] {
  border: 0;
  color: white;
  background-color: #15CD72;
  margin: 20px auto;
  padding: 15px;
  width: 100%;
  display: block;
  border-radius: 5px;
  font-size: 22px;
  transition: opacity 0.4s;
  text-align: center;
  height: auto;
  }

  .footer {
      text-align: center;
      color: white;
      margin: 20px auto;
      font-weight: 600;
      border: 0;
      padding: 0;
  }

  .footer a {
      color: white;
  }

  .footer a:hover { color: #E7F1F9 }
